# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Build
.build/
build/
dist/
*.egg-info/

# Virtual envs
.venv/
.env/

# uv
.uv/

# Test/coverage
.pytest_cache/
.coverage*
htmlcov/

# IDE
.vscode/
.idea/

tests/__dbt_test/
